<%- include extend/heade_gateway %>

	<table id="table1"  class="display" cellspacing="0" width="100%">
		<thead>
            <tr style="color:#428bca">
      		<th>Mac Address</th>
                  <th>Receive time</th>
                  <th>Data</th>
                  <th>Rss</th>
                  <th>SNR</th>
                  <th>SF</th>
                  <th>Fport</th>
                  <th>Channel</th>
                  <th>ApId</th>
      		<th>Frame</th>
            </tr>
        </thead>
	</table>
<%- include extend/footer %>